body {

  width: 780px;
color: #008a35;

}

.all{
  background: black;
}

.dados{
  float: left;
  width: 45%;
  background-image: url("30427.png");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: right;
}



.faixa{
text-align: center;
  background-image: url(faixa.png) ;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: right;
}

.faixa1{
  margin-left: 10px;
  float: left;
  text-align: justify;
}
.faixa2{
  margin-left: 50%;
  text-align: justify;

}

#all{
  background: #aee2a7;
  padding-left: 100px;
  padding-top: 50px;
  background-image: url(cadastro.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 80px;
}


fieldset{
  color: #116600;
  
}

legend{
border-style: solid;
font-weight: bold;
  border-color: green;
}

.local{
  background-image: url(local.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: right, center;
  
}

.esporte{
  background-image: url(esporte.png);
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: right;
  
}

.coment{
    background-image: url(conversa.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right;
  
}